.container {
  margin-top: -150px;
  margin-left: 50px;
}

.header {
  font-family: Roboto Mono;
  font-size: 30px;
  color: #665c54;
}

.value {
  font-family: Roboto Mono;
  font-size: 33px;
  color: #fabd2f;
  margin-top: -30px;
}

.value2 {
  font-family: Roboto Mono;
  font-size: 19px;
  color: #fabd2f;
  margin-top: -10px;
}
