.container {
  margin-top: 144px;
  margin-left: 50px;
}

.header {
  font-family: Roboto Mono;
  font-size: 35px;
  color: #665c54;
}

.value {
  font-family: Roboto Mono;
  font-size: 45px;
  color: #fabd2f;
  margin-top: -40px;
}

.value2 {
  font-family: Roboto Mono;
  font-size: 19px;
  color: #fabd2f;
  margin-top: -10px;
}
