.code-container {
  background-color: #e8e8e8;
  margin-left: 15%;
  margin-right: 15%;
}

.active {
  color: white;
  background-color: green;
}

.return {
  background-color: #fc5203;
  padding-left: 7px;
  padding-right: 3px;
  margin-left: 3px;
  color: white;
  font-size: 14px;
}

.incorrect {
  color: white;
  background-color: red;
}

.active-arrow {
  color: red;
}
